.testform {
  display: grid;
  grid-template-rows: repeat(3, 45px);
  font-size: 13px;
}

.testinput {
  text-align: start;
  display: grid;
  grid-template-columns: 120px 175px;
  align-items: center;
  padding: 0;
}

.test-csv-input {
  font-size: 12px;
  padding: 0;
}

.testbutton {
  border: 1px solid black;
  font-size: 12px;
  border-radius: 3px;
  height: 27px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.253) 1.95px 1.95px 2.6px;
  justify-self: flex-end;
}

.test-status-row {
  display: grid;
  grid-template-columns: 120px 55px 190px;
  align-items: center;
}
