.update-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.update-modal-content {
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-items: center;
  width: 250px;
  height: 160px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid black;
}

.update-modal-topbody {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}

.update-modal-bottombody {
  margin-top: -30px;
}

.update-modal-button {
  border: 1px solid black;
  border-radius: 3px;
  height: 27px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.253) 1.95px 1.95px 2.6px;
  justify-self: flex-end;
  align-self: flex-end;
}

button.update-modal-button:hover,
button.update-modal-button:active {
  cursor: pointer;
  background-color: rgba(42, 75, 240, 0.507);
}
