body {
  margin: 0;
  font-family: "Raleway";
  background-color: #ebf5fb;
}

button:active {
  background-color: lightgray;
}
input {
  width: auto;
  height: 27px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
