body {
  margin: 0;
  font-family: "Raleway";
  background-color: #ebf5fb;
  scrollbar-width: thin;
}

button:active {
  background-color: lightgray;
}

input {
  width: auto;
  height: 27px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
select {
  font-size: 12px;
}
label {
  font-weight: 500;
}
h2 {
  font-size: 14px;
}
.h2-styled {
  padding-left: 120px;
  padding-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

.ag-root ::-webkit-scrollbar {
  display: none;
}
button {
  font-size: 12px;
}

.messages {
  width: 295px;
  text-align: center;
}
