.overview-user-container {
  display: grid;
  grid-template-rows: auto auto;
  margin-left: -140px;
  margin-top: -7vh;
}

.overview-header {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: solid 1px black;
  justify-content: space-between;
  padding-left: 6vw;
}
.overview-header > h2 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway";
}
.overview-header:nth-child(1) {
  text-align: end;
  padding-right: 6vw;
}

.overview-row {
  display: grid;
  grid-template-rows: auto auto auto auto;
  padding: 3vh;
  padding-left: 6vw;
  padding-right: 5vw;
  border-bottom: solid 1px black;
}
.overview-row-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.overview-row > p {
  padding-top: 2vh;
}
.overview-table {
  padding-top: 3vh;
}
