
.createcourseform{
    display: grid;
    grid-template-rows: repeat(6, 45px);
  margin-left: 200px;

      /* background-color: #ebf5fb; */

    
}
.courseinput{
    font-size: 13px;
    text-align: start;
    display: grid;
    grid-template-columns: 35% 175px;
    align-items: center;
}
/* .courseinput>input{
    height: 27px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
} */

.dateinput{
    width: 100px;
    height: 27px;
}
.courseinput>button{
    border: 1px solid black;
        border-radius: 3px;
        height: 27px;
        width: auto;
        box-shadow: rgba(0, 0, 0, 0.253) 1.95px 1.95px 2.6px;
        justify-self: flex-end;
}
/* .nameinput{
    width: 228px;
    height: 27px;
} */
