.createaccountform {
    display: grid;
    grid-template-rows: repeat(7, 45px);
  }
  
  .createaccountinput {
    font-size: 13px;
    text-align: start;
    display: grid;
    grid-template-columns: 45% 175px;
    align-items: center;
  }
  
  .createaccountinput > label {
    text-align: start;
    text-justify: center;
  }
  
  .createaccountbutton {
    border: 1px solid black;
    border-radius: 3px;
    height: 27px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.253) 1.95px 1.95px 2.6px;
    justify-self: flex-end;
  }
  
  .createaccountinput > select {
    width: 110px;
    overflow-y: auto;
  }
  .createaccountvalidationmessage {
    color: rgb(255, 99, 99);
  
    text-align: center;
  }
  
  .createaccountmessage {
    color: rgb(1, 152, 1);
    text-align: center;
  }
  