.myaccountheader {
  display: grid;
  grid-template-columns: 45% 175px;
}

.myaccountform {
  display: grid;
  grid-template-rows: repeat(5, 45px);
}

.myaccountinput {
  font-size: 13px;
  text-align: start;
  display: grid;
  grid-template-columns: 120px 175px;
  align-items: center;

}

.myaccountinput>label {
  text-align: start;
  text-justify: center;
}

.myaccountinput>input {
  font-size: 12px;
}

.myaccountbutton {
  border: 1px solid black;
  font-size: 12px;
  border-radius: 3px;
  height: 27px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.253) 1.95px 1.95px 2.6px;
  justify-self: flex-start;
  margin-top: 10px;
}

.myaccountbutton>a {
  text-decoration: none;
  color: black;
}