.testform {
  display: grid;
  grid-template-rows: 45px 45px 45px 100px;
  font-size: 13px;
}

.testinput {
  text-align: start;
  display: grid;
  grid-template-columns: 120px 175px;
  align-items: center;
  padding: 0;
}





