.overview-main {
  display: grid;
  grid-template-rows: 1fr 80px auto 100px;
  margin-left: -120px;
}
td {
  padding: 0;
}
table {
  border-spacing: 0;
  text-indent: 0;
}
.overview-tables {
  display: grid;
  grid-template-columns: auto auto auto;
}
.container {
  padding-left: 20px;
}
.overview-table-course {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-left: 20px;
}
.table-container {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  border: black solid 2px;
}
.table-container::-webkit-scrollbar {
  display: none; /*for Chrome, Safari and Opere*/
}

.selected-row:hover {
  background-color: rgb(148, 184, 231);
  cursor: pointer;
}

.tables {
  border-collapse: collapse;
  background-color: white;
  height: 100%;
}
.thead {
  background-color: #dddddd;
  border-bottom: black solid 1px;
}

.thead > tr > th {
  font-size: 13px;
  font-weight: 500;
  padding: 0;
}

tbody > tr > td {
  font-size: 12px;
  font-weight: 400;
  border-right: black solid 1px;
  padding: 0;
}
.focus {
  background-color: #ececec;
}
tr {
  height: 30px;
}

/* tbody {
  overflow-y: auto;
  width: 100%;
} */
tr:nth-child(even) {
  background-color: #ececec;
}

.selected-row:active {
  background-color: rgb(148, 184, 231);
}
.button {
  border: 1px solid black;
  border-radius: 3px;
  height: 27px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.253) 1.95px 1.95px 2.6px;
  justify-self: flex-end;
  align-self: flex-end;
}
