.main-navbar {
  display: grid;
  grid-template-columns: 190px 1fr;
}
.navbar {
  display: grid;
  grid-template-rows: 100px 100px 1fr;
  background-color: white;
  height: 100vh;
  text-align: center;
  font-size: 14px;
}
.navbar-body {
  justify-self: start;
  margin-top: 180px;
  margin-left: 200px
}
.navbar-logo {
  width: 120px;
  height: auto;
  justify-self: center;
  align-self: center;
}
.navbar-links {
  display: grid;
  padding-top: 20px;
  justify-content: center;
  text-align: start;
}
.navbar-links>a{
    text-decoration: none;
    color:black
}

.navbar-signout{
    text-align: center;
}
