/*Using navbarLayout as parent*/

.addtopmargin{
    margin-top: 30px;
    

}
.navbaruser{
    background-color:#ebf5fb;
    
}
.main-navbar-user{
    background-color: white;
    width: 100vw;
}
.navbar-body-user{
    margin-top: 120px;
    margin-left: 140px;

}