.main-navbar {
  display: grid;
  grid-template-columns: 190px 1fr;
  height: 100vh;
  
}
.navbar {
  display: grid;
  grid-template-rows: 100px auto 40px 1fr;
  background-color: white;
  text-align: center;
  font-size: 16px;
}
.navbar-body {
  justify-self: start;
  width: auto;
  margin-top: 120px;
  margin-left: 140px;
}
.navbar-logo {
  width: 120px;
  height: auto;
  justify-self: center;
  align-self: center;
}
.navbar-links {
  display: grid;
  padding-top: 20px;
  text-align: start;
  padding-left: 35px;
}
.navbar-link {
  text-decoration: none;
  color: black;
  margin: 1px;
  padding: 1px;
  width: 100%;
}
.navbar-link:hover {
  background-color: rgb(148, 184, 231);
}
.navbar-link>svg{
  padding-right: 5px;
  
}

.navbar-signout {
  background: none !important;
  border: none;
  padding: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
}
